*{
    margin: 0px;
    padding: 0px;
    /* background-color: whitesmoke; */
}
/* shared style */
body{
    font-family: "Open Sans", serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
    background-color: whitesmoke;

} 
section{
    margin-bottom: 60px;
}
h2{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    
}
.description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin: 30px 0px;
}
.title{
    color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 700px;
margin: 12px 0px;
}

/* nav style */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700px;
}
.btn-signin{
    background-color: white;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600px;
    padding: 8px 16px;
}

/* banner style */
.banner{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-top: 20px;
    

}
.banner-contain{
    display: flex;
    
    
}
.banner-description{
    margin: 80px;
}
.banner-2-0{
color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500px;

}
.banner-title{
color: rgb(14, 14, 14);
font-size: 56px;
font-weight: 700;
}
.btn-banner{
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
padding: 17px 34px 17px 34px;
}
.banner-img{
    padding: 40px;
}

/* pillars style */
.pillars-contain{
    display: flex;
    justify-content: flex-start;
}

.pillars-main{
    padding: 24px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-right: 20px;

}
/* vision style */
.vision-contain{
    display: flex;

}
.btn-learn-more{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600px;
    padding: 11px 20px 11px 20px;
}
.vision-main{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 30px;
    margin-right:20px ;
}
/* challenges style */
.challenges-1{
    
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
position:relative;
    top: 10px;
    padding: 40px 24px 40px 24px;
}
.challenges-img{
    position: absolute;
}
h5{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}
.challenges-dis{
    margin: 10px;
}
/* news style */
.news-contain{
    display: flex;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 40px;

}
.news-img-1{
    border-radius: 24px;
    
}
.news-part-1{
    margin-left: 20px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700px;
    margin: 12px 0px;
}
.news-img-2{
    margin: 12px 0px;
}
.date{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;

}  

.time{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}

/* donate style */
.amount{
    display: flex;
    justify-content:space-evenly;
   


}
.option{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin:24px;
    padding: 40px;

}
.input{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px 40px 20px 40px;
    inline-size: 80%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-left:42px ;
    border-radius: 5px;

} 
.donation-title{
    text-align: center;
}


.btn-now{
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid rgba(14, 14, 14, 0.15); */
    /* background: rgb(255, 255, 255); */
    /* padding: 20px 40px 20px 40px; */
    
}
.btn-done-now{
    text-align: left;
    margin-top: 40px;
    margin-left: 700px;
    background: rgb(0, 106, 80);
}
/* Subscribe style */
.Subscribe{
    border-radius: 24px;
background: rgb(198, 228, 214);
padding: 80px 100px 80px 100px;
}
.center{
    text-align: center;
    
}
.Subscribe-contain{
    display: flex;
    justify-content: center;
    
}
 .email{
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 18px 40px 18px 40px;
    
} 
.button{
    border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;

}
/* hover style */
button:hover{
    color: aqua;
    border-color:antiquewhite;
}
.btn-signin:hover{
color: black;
border-color:antiquewhite;
}
.btn-learn-more:hover{
    color: black;
}
.btn-done-now:hover{
    color:black;
}
.option:hover{
    color:darkgreen;

}
.input:hover{
    border-color:antiquewhite; 

}
.email:hover{
    border-color:antiquewhite; 

}